    <!-- Load jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin=""></script>

    <!--#if expr='v("jquery_ui") = "true"'-->
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
            integrity="sha384-ajC4CCgR7fiujIzFLHLqpewfMIbYF1sf9+pN24RRtCVn/TADEg4M27n6c7lwYCp2"
            crossorigin="anonymous"></script>
    <!--#endif-->

    <!-- Font awesome from CDN -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

    <!-- Embed support -->
    <!--<script src="https://pym.nprapps.org/pym.v1.min.js"></script>-->

    <!-- ionRangeSlider -->
    <link rel="stylesheet" href="/vendor/ion.rangeSlider/css/ion.rangeSlider.min.css" />
    <script src="/vendor/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

    <!-- jQuery.blockUI -->
    <script src="/vendor/blockui/jquery.blockUI.js"></script>

    <!-- Browser workaround -->
    <script src="/dist/v1/js/browser.js"></script>

    <!-- Deparam plugin -->
    <script src="/vendor/jquery-bbq/jquery.ba-bbq.min.js"></script>

    <!-- Chosen -->
    <link href="/vendor/chosen/chosen.css" rel="stylesheet" />
    <script src="/vendor/chosen/chosen.jquery.js"></script>

    <!-- Clipboard.js -->
    <script src="/vendor/clipboard.js/dist/clipboard.min.js"></script>
