    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">

    <!-- Load jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin=""></script>

    <!-- Support for https://github.com/davidjbradshaw/iframe-resizer -->
    <script src="https://unpkg.com/iframe-resizer@4.1.1/js/iframeResizer.min.js"
            integrity="sha384-L+yWO0JwBeCsomGMzZjdA86csUuPn1ZYkJxE9mtk/alb3c5Wht527Z48u1611pZf"
            crossorigin="anonymous"></script>

    <script src="/src/pages/iframe.js"></script>

    <link rel="shortcut icon" href="/images/logos/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet"    href="/dist/v2/css/pages.css">

    <!--#include virtual="/templates/header/vuejs.html"-->
