<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Mapa Socioambiental - Sobre</title>
    <!--#include virtual="/templates/header/pages.html"-->
  </head>
  <body>
    <!--#include virtual="/templates/navigation.html"-->

    <div class="container-fluid" id="about" v-cloak>
      <div class="row">
        <div class="col">
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1 class="display-3">{{ $t('isamap') }} - {{ $t('about') }}</h1>
            <p class="lead">{{ $t('ready_to_use') }}</p>
            <hr class="my-4">
            <p v-html="$t('developed_by')"></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-xs-12 col-lg-12" v-html="$t('about_text')">
        </div>
      </div>
    </div>

    <script src="/dist/v2/js/about.js"></script>
    <!--#include virtual="/templates/footer.html"-->
  </body>
</html>
