/**
 * Reset all previous styling.
 * See https://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only
 *     https://stackoverflow.com/questions/10064172/how-to-isolate-a-div-from-public-css-styles
 */
/*
.isamap, .isamap * {
  all: revert!important;
}
*/

@import './layers.css';
@import './small-widget.css';

/**
 * Leaflet workarounds.
 */

.isamap {
  position: relative;
}

/*
.leaflet-control-container {
  position: relative;
  height: 100%;
}
*/

/**
 * Small Widget
 */

.small-widget-caption {
  margin-top: -24px;
  margin-left: 40px;
}

.leaflet-small-widget .legend-title {
  margin-top: -25px;
  margin-left: 25px;
}

/**
 * Small Widget Slider player.
 */
.small-widget-slider-player {
  font-size: 16px;
}

.small-widget-slider-player i {
  margin-left: 44px;
}

/**
 * Loader
 */
.jquery-isamap-mini-loading {
  top: 4px;
  position: relative;
}

/**
 * Misc
 */
.leaflet-bar a, .leaflet-bar a:hover {
  border: none;
}

.marker-cluster span {
  position: relative;
  top: -11px;
}

/**
 * Top-left needs a greater z-index, ensuring map
 * controls are always visible when expanded.
 */
.leaflet-top {
  z-index: 1001;
}

/**
 * Alling something in the middle of the page.
 * See http://www.tipue.com/blog/center-a-div/
 *     https://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally#13356401
 */
.middle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
