/**
 * Map stylesheet for a single page application fitting the whole screen.
 */

html, body, #map, .isamap-fullsize {
  height:   100%;
  width:    100%;
  margin:   0;
  padding:  0;
  overflow: hidden;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
