<nav id="navigation" class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/" title="Mapa Socioambiental"></a>

  <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <h4><a v-bind:href="'/pages/?lang=' + locale">{{ $t('isamap') }}</a></h4>
    <ul class="navbar-nav">
      <li class="nav-item"><a v-bind:href="mapUrl">{{ $t('fullscreen') }}</a>/</li> 
      <li class="nav-item"><a v-bind:href="'/pages/note/?lang='     + locale">{{ $t('technical_note') }}</a>/</li>
      <li class="nav-item"><a v-bind:href="'/pages/about/?lang='    + locale">{{ $t('about') }}</a>/</li>
      <li class="nav-item"><a v-bind:href="'/pages/examples/?lang=' + locale">{{ $t('examples') }}</a>/</li>

      <li class="nav-item locale pull-right">
        <div>
          <select v-model="locale" id="locale" class="form-control">
            <option value="en">English</option>
            <option value="es">Español</option>
            <option value="pt-br">Português</option>
          </select>
        </div>
      </li>
  </div>
</nav>
<script src="/dist/v2/js/navigation.js"></script>
