    <!-- Embed support -->
    <!--
    <script type="text/javascript">
      var pymChild = new pym.Child();
    </script>
    -->

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>

    <!-- Google Plus widget -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Linkedin widget -->
    <!--<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: pt_BR</script>-->
