.mobile-menu * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile-menu {
  position: fixed;
  display: none !important;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 80px;
  background-color: white;
  justify-content: center;
}

.mobile-menu__list {
  display: flex;
  align-items: center;
  justify-items: center;
  list-style-type: none;
}

.mobile-menu__button {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 12px 16px;
  display: flex;
  flex-wrap: wrap;
  min-width: 120px;
  max-width: 130px;
  justify-content: center;
}

.mobile-menu__button--active:before {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-bottom-color: #AD1A00;
}

.mobile-menu__button--active {
  background-color: #AD1A00;
  color: white;
}

.mobile-menu__button > span {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 5px;
}

#mapDraw {
  list-style-type: none;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: flex !important;
  }

  .leaflet-bottom {
    bottom: 80px;
  }
}