/**
 * Embed
 */

#twitter-widget-0 {
  float: left;
  margin-right: 10px;
}

.isamap-embed-control-clipboard, .leaflet-small-widget .fa-external-link {
  font-size: 16px;
  margin-left: 3px;
}

.isamap-embed-control-clipboard {
  font-size: 12px;
  margin-left: 3px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px 6px;
}

#isamap-embed-code-link {
  float: right;
  margin-right: 25px;
  margin-top: -3px;
}

.isamap-embed-control-oembed-caption {
  width: 80px;
  position: relative;
  top: 10px;
}

.leaflet-embed-code textarea {
  height: 15px;
  float: left;
}

.isamap-embed-control-link {
  margin-top: -1px;
}

.isamap-embed-control-clipboard, .isamap-embed-control-link {
  float: left;
}
